.filterContainer {
  margin-bottom: 20px;
}

.filterTitle {
  font-size: 24ox;
  margin-bottom: 5px;
}

.filterInput {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #5a5757;
  border-radius: 5px;
}
