.AddForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.AddLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.AddHeader {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.AddInput {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #5a5757;
  border-radius: 4px;
  margin-bottom: 10px;
}
.AddContactBtn {
  display: flex;
  justify-content: center;
}
