.LoginContainer {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.LoginContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginContainer div {
  margin-bottom: 15px;
}

.LoginContainer h2 {
  color: #333;
}

.LoginContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #5a5757;
  border-radius: 4px;
}
