@import-normalize; /* bring in normalize.css styles */

@import './components/Layout/layout-module.css';
@import './components/Home/Home-module.css';
@import './components/Login/Login-module.css';
@import './components/Register/Register-module.css';
@import './components/ContactForm/ContactForm.module.css';
@import './components/ContactList/ContactList-module.css';
@import './components/Contacts/Contacts-module.css';
@import './components/Filter/Filter.module.css';
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
