.ContactsContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.contactsHeader {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.contactsList {
  list-style: none;
  padding: 0;
  margin: 0;
}
