.contactContainer {
  margin-bottom: 10px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #5a5757;
  background-color: #fff;
  border-radius: 5px;
}

.contactInfo {
  display: flex;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.number {
  font-size: 18px;
  color: #555;
  font-weight: bold;
  margin-left: 5px;
}
